name: Backend Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: |
          npm ci
        working-directory: backend

      - name: Type check
        run: |
          npm run typecheck
        working-directory: backend

      - name: Run tests
        run: |
          npm run test:run
        working-directory: backend

      - name: Build application
        run: |
          npm run build
        working-directory: backend

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.IMAGE_REGISTRY }}
          username: ${{ vars.IMAGE_REGISTRY_OWNER }}
          password: ${{ secrets.IMAGE_REGISTRY_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Semantic Release Version
        id: semantic_release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ${{ vars.IMAGE_REGISTRY }}/${{ vars.IMAGE_REGISTRY_OWNER }}/ai-assistant-admin-backend:latest,
            ${{ vars.IMAGE_REGISTRY }}/${{ vars.IMAGE_REGISTRY_OWNER }}/ai-assistant-admin-backend:${{ steps.semantic_release.outputs.new_release_version }}
